.__chat-container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: 1px solid white;
  padding: 1%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.40); /* Semi-transparent background */
  background-image: url("https://assets.leetcode.com/static_assets/public/icons/favicon.ico");
  background-position: center; /* Center the image in the container */
  background-repeat: no-repeat; /* Prevent image repetition */
}
